<nav class="fh5co-nav" role="navigation">
  <div class="top-menu">
    <div class="container">
      <div class="row">
        <div class="col-xs-1">
          <div id="fh5co-logo"><a href="index.html"><img src="../../assets/images/logo.png" height = 100 width = 300 ><span></span></a></div>
        </div>
        <div class="col-xs-11 text-right menu-1">
          <ul>
            <li class="active"><a href="home">Home</a></li>
            <li class=""><a href="">Leader Board</a></li>
            <li *ngIf="!isUserLogging"(click) = "login()" class="btn-cta active"><a href="#"><span>Login</span></a></li>
            <li class="has-dropdown">
              <img src="">
              <a href="pricing.html" *ngIf="isUserLogging">{{getUserName}}</a>
              <ul class="dropdown">
                <li><a href="#">Profile</a></li>
                <li><a href="#">Sets</a></li>
                <li><a href="#">To-Do List</a></li>
              </ul>
            </li>
            <li *ngIf="isUserLogging" (click) = "logout()" class="btn-cta"><a href="#"><span>Logout</span></a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</nav>
